<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Epil Laser Lab</title>
  <link rel="stylesheet" href="style.css">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Inter:wght@700&family=Kanit:wght@700&family=Montserrat:ital,wght@0,100;0,200;0,400;0,500;0,700;1,200;1,400;1,500;1,600;1,800;1,900&family=Open+Sans&display=swap" rel="stylesheet">
</head>
<body>
  <div class="block" id="about_us">
      <div class="content">
          <div class="stroke_box">
            <div class="header">
              <div class="stroke_header left">

              </div>
              <div class="header_text">
                <span >Epil Laser Lab</span>
              </div>
              <div class="stroke_header right">

              </div>
            </div>
          </div>
      </div>
    </div>
</body>
</html>